*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix{
    content: '';
    display: table;
    clear: both;
}
body{
    font-family: 'Heebo', sans-serif;
    font-family: 'Roboto Serif', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100px;
    position: relative;
}
.logo img{
    position: absolute;
    left:0;
    width: 150px;
    height: auto;
    display: block;
}
.logo ul{
    position: absolute;
    bottom: 0;
    left: 0;
}
.logo ul li{
    display: inline-block;
    padding-right: 10px;
}
nav li a{
    font-size: large;
    text-decoration: none;
    color: gray;
    
}
.header2{
    background-image: url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 70%;
    height: 350px;
    position: relative;
}
.overlay::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
#header2title{
    width: 50%;
    height: auto;
    position: absolute;
    left: 3%;
    bottom: 10%;
}
#header2title h1, #header2title span{
    color: white;
}
main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 20px;
    width: 70%;
    height: 400px;
}
.maintitle{
    width: auto;
    height: auto; 
}
.maintitle h1{
    font-weight:bolder;
    font-size: 30px;
}
.containersection{
    width: 100%;
    height: auto;
    margin-top: 10px;  
}
.containersection span{
    color: grey;
}
.left{
    width: 15%;
    height: auto;
    float: left;
}
.left img, .right img{
    width: 100%;
    height: 140px;
    box-shadow: 2px 2px gray;
    border-radius: 20px;
    
}
.centered img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: 0px -200px;
    box-shadow: 2px 2px gray;
    border-radius: 20px;  
}
.right{
    width: 15%;
    height: auto;
    float: right;
}
.centered{
    width: calc(70% - 30px); 
    height: 300px;
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}
footer div{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    margin-top: 15px;
    text-align: center;
    font-size: large;
}
#love{
    color: red;
}
.overlayimg{
    position: relative;
    width: 100%;
    height: 140px;
}
.overlayimg::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
